#results li.pass { color: green; }
#results li.fail { color: red; }

#results {
  border: 1px solid rgb(30%, 60%, 80%);
  width: 500px;
  background: rgb(75%, 80%, 60%);
}

h4{
  background: pink;
  width: 800px;
}
h5{
  background: rgb(40%, 100%, 80%);
  width: 800px;
}
em{
  background: rgb(80%, 100%, 80%);
}
